<div class="row">
    <div class="col">
        <div class="topnav" id="topnav">
            <a class="active" href="#test">Home</a>
            <a href="#index2">Test</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="contentWrapper">
            <h3>Title</h3>
            <p>Wow, ai dechis un cod QR random, gasit pe strada?</p>
            <p>Dupa calculele mele, l-ai gasit in {{location}}</p>
            <p>Daca esti curios cata lume a mai deschis coduri prin {{location}}, avem {{openCount}} deschise</p>
        </div>
    </div>
</div>