<div class="row">
    <div class="col">
        <div class="topnav" id="topnav">
            <a class="active" href="#test">Home</a>
            {{!-- <a href="#index2">Test</a> --}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="contentWrapper">
            <h3>Title</h3>
            <p>Wow, ai dechis un cod QR random, găsit pe stradă?</p>
            <p>După calculele mele, l-ai găsit în {{location}}</p>
            <p>Dacă ești curios câți oameni au mai deschis coduri prin {{location}}, avem {{openCount}} deschise</p>
        </div>
    </div>
</div>